
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="formIndex">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="custName" placeholder="请输入客户姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="custIDNumber" placeholder="请输入身份证号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    @Html.SearchBtnHtml()
                    @Html.ResetBtnHtml()
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="tableId" lay-filter="tableFilter"></table>
    </div>
</div>
@section Scripts {
    <!-- 头工具栏模板 -->
    <script type="text/html" id="toolbarTpl">
        @Html.TopToolBarHtml(ViewData["TopButtonList"])
    </script>

    <script>
        layui.use(['table', 'form', 'laydate'], function () {
            let table = layui.table;
            let form = layui.form;
            let laydate = layui.laydate;

            let MODULE_PATH = "/BusinessManage/SysCaseInfo/";

            table.render({
                elem: '#tableId',
                url: MODULE_PATH + "GetList",
                page: true,
                cellMinWidth: 120,
                cols: [
                    [
                        { type: 'checkbox' },
                        { title: 'ID', field: 'id', hide: true },
                        { title: '姓名', field: 'custName', },
                        { title: '身份证号', field: 'custIDNumber', },
                        { title: '性别', field: 'custGender', },
                        { title: '民族', field: 'custNation', },
                        { title: '出生日期', field: 'custBirthdate', },
                        { title: '银行卡号', field: 'custCardNo', },
                        { title: '欠款本金', field: 'principalAmount', },
                        { title: '利息', field: 'interestAmount', },
                        { title: '违约金', field: 'penaltyInterest', },
                        { title: '分期手续费', field: 'installmentFee', },
                        { title: '服务费', field: 'serviceFee', },
                        { title: '逾期金额', field: 'overdueAmount', },
                        { title: '逾期天数', field: 'overdueDays', },
                        { title: '开始逾期日期', field: 'overdueStartDate', },
                        { title: '最后一次还款日期', field: 'lastRepayDate', },
                        { title: '账单余额', field: 'billBalance', },
                        { title: '邮箱', field: 'custEmail', },
                        { title: '户籍地址', field: 'householdAddress', },
                        { title: '住宅地址', field: 'homeAddress', },
                        { title: '邮寄地址', field: 'mailingAddress', },
                        { title: '单位地址', field: 'companyAddress', },
                        { title: '联系电话', field: 'contactPhone', },
                        { title: '开户日期', field: 'accountOpenDate', },
                        { title: '开卡日期', field: 'cardOpenDate', },
                        { title: '账户激活日期', field: 'accountActivateDate', },
                        { title: '账单日', field: 'billDay', },                       
                        //{
                        //    title: '调解开始日期', field: 'mediationStartDate', formatter: function (value, row, index) {
                        //        return ys.formatDate(value);
                        //    }
                        //},
                        //{
                        //    title: '调解结束日期', field: 'mediationEndDate', formatter: function (value, row, index) {
                        //        return ys.formatDate(value);
                        //    }
                        //},
                        { title: '案件备注1', field: 'remark1', },
                        { title: '案件备注2', field: 'remark2', },
                        { title: '案件备注3', field: 'remark3', },
                    ]
                ],
                skin: 'line',
                toolbar: '#toolbarTpl',
                defaultToolbar: []
            });

            table.on('toolbar(tableFilter)', function (obj) {
                if (obj.event === 'refresh') {
                    window.refresh();
                }
                else if (obj.event === 'uploadfile') {
                    ys.openDialog({
                        title: "上传文件",
                        content: MODULE_PATH + "UploadFile",
                        height: "350px",
                        callback: function (index, layero) {

                        }
                    });
                }
                else if (obj.event === 'downloadfile') {

                }
                else if (obj.event === 'indictment') {       
                    layer.open({
                        type: 2,
                        title: '诉状生成',
                        shade: 0.1,
                        area: ['800px', '650px'],
                        content: MODULE_PATH + "Indictment",
                        cancel: function (index, layero) {
                        }
                    });
                }
            });

            form.on('submit(search)', function (data) {
                table.reload('tableId', { where: data.field })
                return false;
            });

            window.refresh = function () {
                table.reload('tableId');
            }
        })
    </script>

}
