
@{
    ViewBag.Title = "上传文件";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section style {
}

<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">选择文件</label>
                <div class="layui-input-block" style="display: flex; align-items: center;">
                    <input type="text" class="layui-input" id="fileNameInput" placeholder="请选择文件" readonly
                           style="border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                    <button type="button" class="layui-btn layui-btn-normal" id="chooseFileBtn"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left: -1px;">
                        <i class="layui-icon">&#xe621;</i> 浏览...
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        layui.use(['common', 'upload'], function () {
            var $ = layui.jquery;
            var common = layui.common;
            var upload = layui.upload;


        });
    </script>
}
