
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<form class="layui-form" lay-filter="formEdit">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="UserName" required lay-verify="required" value="@ViewBag.UserName" autocomplete="off" class="layui-input" readonly="readonly">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="OldPassword" required lay-verify="required" lay-reqtext="请输入旧密码" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="Password" required lay-verify="required|newPwd|notSameAsOld" lay-reqtext="请输入新密码" placeholder="请输入新密码" autocomplete="off" class="layui-input" id="newPwd">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="Repassword" required lay-verify="required|confirmPwd" lay-reqtext="请输入再次输入新密码" placeholder="请输入再次输入新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        layui.use(['form', 'jquery', 'common'], function () {
            let form = layui.form;
            let common = layui.common;
            let $ = layui.jquery;

            form.verify({
                newPwd: function (value, item) {
                    var trimedValue = $.trim(value);
                    var chrType = 1;
                    return checkpwd(chrType, trimedValue);
                },
                confirmPwd: function (value, item) {
                    var trimedNewPwd = $.trim($("#newPwd").val());
                    var trimedConfirmPwd = $.trim(value);
                    if (trimedNewPwd !== trimedConfirmPwd) {
                        return "两次输入的新密码不一致，请重新输入！";
                    }
                },
                notSameAsOld: function (value, item) {
                    var trimedOldPwd = $.trim($("#oldPwd").val());
                    var trimedNewPwd = $.trim(value);
                    if (trimedOldPwd && trimedNewPwd === trimedOldPwd) {
                        return "新密码不能与旧密码相同，请重新设置！";
                    }
                }
            });

            form.on("submit(edit)", function (data) {
                common.ajax("/Account/ModifyUserPwd", "post", data.field, true, true).done(function (response) {
                    layer.msg(response.msg, { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                }).fail(function (error) {
                    console.log(error)
                });
                return false;
            });
        });
    </script>
}
