
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">任务名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="JobName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    @Html.SearchBtnHtml()
                    @Html.ResetBtnHtml()
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="tableId" lay-filter="tableFilter"></table>
    </div>
</div>
@section Scripts {

    <!-- 头工具栏模板 -->
    <script type="text/html" id="toolbarTpl">
        @Html.TopToolBarHtml(ViewData["TopButtonList"])
    </script>

    <script>
        layui.use(['table', 'form', 'jquery', 'common'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;

            let MODULE_PATH = "/System/SysAutoJobLog/";

            table.render({
                elem: '#tableId',
                url: MODULE_PATH + "GetList",
                page: true,
                cols: [
                    [
                        { type: 'checkbox' },
                        { field: 'id', title: 'ID', hide: true },
                        { field: 'jobName', title: '任务名称' },
                        { field: 'jobGroup', title: '任务分组' },
                        { field: 'startTime', title: '开始时间', width: 160 },
                        { field: 'endTime', title: '结束时间', width: 160 },
                        {
                            field: 'executeStatus', title: '执行状态', width: 100, templet: function (d) {
                                return top.getDataDictValue("sys_success_status", d.executeStatus);
                            }
                        },
                        { field: 'executeResult', title: '执行结果' },
                        { field: 'executeDuration', title: '执行时长（ms）', width: 130 },
                        {
                            field: 'exception', title: '异常信息', width: 400, templet: function (d) {
                                return d.exception ? '<div style="color:red;">' + d.exception + '</div>' : '';
                            }
                        }
                    ]
                ],
                skin: 'line',
                toolbar: '#toolbarTpl',
                defaultToolbar: [{
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports']
            });

            table.on('toolbar(tableFilter)', function (obj) {
                if (obj.event === 'create') {
                    window.create();
                } else if (obj.event === 'refresh') {
                    table.reload('tableId');
                }
            });

            form.on('submit(search)', function (data) {
                table.reload('tableId', { where: data.field })
                return false;
            });
        })
    </script>

}
